#portfolio {
    margin: 2rem;
}

#portfolio > h5 {
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#portfolio > h2 {
    margin-bottom: 2.5rem;
    text-align: center;
} 

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image {
    border-radius: 2rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1rem 0 1rem;
    text-align: center;
}

.portfolio_item-cta {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* ==========  MEDIA QUERIES (MEDIUM DEVICES, TABLETS) ====== */

@media screen and (max-width: 1024px){
    
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        margin-top: 2rem;
    }

}

/* ==========  MEDIA QUERIES (SMALL DEVICES, PHONES) ====== */

@media screen and (max-width: 600px){

    

    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}